body {
  background: #0d1117;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}



































































.navbar {
  background: transparent !important;
}

.navbar .nav-link {
  color: white !important;
}

.logo {
  height: 20px;
  width: auto;
}
