.profilePic {
  width: 300px;
  height: 300px;
}

.profileMain {
  width: 380px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

body {
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  height: 100vh;
}

nav {
  display: flex;
  justify-content: first baseline;
}

#footerNavbar {
  display: flex;
  flex-direction: row;
  justify-content: baseline;
  gap: 13px;
  margin: auto;
}

.footerNav {
  display: flex;
  justify-content:flex-end;
  margin: auto;
}

.gitHubImage {
  width: 50px;
  height: 50px;
}

.navbarMain {
  height: 60px;
  width: 1000px;
}


.container-fluid {
  width: 500px;
}
